/*######## iPAY Main CSS ########*/
/* Genera Style */
@import url(font-awesome.min.css);

article, aside, section, footer, header, nav, figure, figcaption, blockquote, address, div
{
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

body {
	margin:0;
	padding: 0;
	font-family: "Chaparral Pro", "Segoe UI", FontAwesome, Arial;
	font-size: 1.1em;
	color: #fff;
	background: #f6f9fc;
}
p, h1, h2, h3
{
	margin: 0;
	padding: 0px;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.15em;
}
h3 {
	font-size: 1.1em;
}
img {
	border: none;
}
a:link, a:visited {
	text-decoration: none;
	color: #fff;
	border: none;
}
a:hover, a:active {
	color: #fff;
	border: none;
}
/* ### Header Style ### */
div#wrap_header {
	margin: 0;
	padding: 0;
	height: 600px;
	background: url("../images/bg.png") no-repeat;	
}
header {
	position: relative;
	width: 1150px;
	margin: 0 auto;
}

/* Logo Style */
#logo h1 {
	position: absolute;
	top: 15px;
	font-size: 1.2em;
	text-align: center;
	margin: 5px 0 0 0;
	z-index: 5;
}
span#pm {
	margin: -5px 0 0 0;
	display: block;
	font-size: .8em;
}

/* Navigation Style */
.lavaLampWithImage {
  position: relative;
  height: 35px;
  padding: 0 5px 15px 0;
  margin: 15px 0 0 0;
  font-size: .9em;
  font-family: ;
  overflow: hidden;
  float: right;
}
.lavaLampWithImage li {
  float: left;
  list-style: none;
  max-width: auto
}
.lavaLampWithImage li.back {
  background: rgb(255, 175, 75);
  height: 30px;
  margin-top: 8px;
  z-index: 8;
  position: absolute;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border: 4px;
}
.lavaLampWithImage li a {
  font: normal 100% "Chaparral Pro", Arial;
  text-shadow: none;
  text-decoration: none;
  color: rgb(233, 233, 233);
  outline: none;
  text-align: center;
  letter-spacing: 0;
  z-index: 10;
  display: block;
  float: left;
  line-height: 35px;
  padding: 5px 0 5px 0;
  position: relative;
  overflow: hidden;
  margin: auto 16px;    
}
.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
	color: #fff;
	border: none;
}
.lavaLampWithImage li:nth-child(2) {
	margin-right: 50px;
}
.lavaLampWithImage li a.current_menu {
	cursor: default;
	color: #fff;
}

/* Coming Soon News Style */
#coming_soon {
	position: absolute;
	top: 275px;
	left: 0px;
	width: 545px;
	height: 18px;
	margin: 0;
	padding: 4px 0px 4px 5px;
	font-size: .8em;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
#coming_soon article p:first-child, #coming_soon article p:last-child {
	display: inline-block;
}

#coming_soon article p:last-child {
	margin: 0 0 0 10px;
}
#coming_soon article p#news {
	font-size: .8em;
	background: #3ece90;
	padding: 2px 7px 2px 7px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-weight: bold;
}

/* Short Intro Style */
div#short_intro {
	position: absolute;
	width: 475px;
	top: 350px;
	line-height: 1.5em;
	left: 0;
}
	#short_intro p {
		font-size: .9em;
	}
.flat_icons {
	position: absolute;
	top: 150px;
}
.icon, .flat_icons h2 {
	display: inline-block;
}
.icon, .flat_icons h2 {
	display: inline-block;
}
.flat_icons .icon {
	position: absolute;
	margin: 0 0 0 7px;
	top: 0px;
}
.flat_icons h2 {
	margin: 2px 0 0 30px;
}
/* ###### Main Content ###### */
#main_content {
	position: relative;
	width: 1150px;
	margin: 0 auto;
	padding: 0;
	border: none;
}

/* Merchant Payment */
#paymentForm {
	width: 430px;
	margin: 0 0 45px 0;
}
	#paymentForm h2 {
		color: rgb(255, 175, 75);
		font-family: "Times New Roman", Arial;
		font-size: 1.9em;
	}
	form .payment_title {
		display: block;
		color: rgb(102, 45, 145);
		margin: 10px 0 5px 0;
		font-size: 1em;
	}
	#paymentForm input.pay {
		width: 400px;
		height: 25px;
		font-family: arial, FontAwesome;
		padding: 3px 10px 3px 10px;
		border: 1px solid rgb(102, 45, 145);
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border: 4px;
	}
	#paymentForm input.button {
		padding: 10px 20px 10px 20px;
		color: #fff;
		margin: 0 10px 0 0;
		background-color: rgb(255, 175, 75);
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid rgb(255, 175, 75);
	}
	#paymentForm p {
		position: relative;
		width: 320px;
		margin: 10px 0 10px 0;
		color: rgb(102, 45, 145);
		text-align: justify;
		border: none;
	}
		input#pay_button {
			position: absolute;
			top: 4px;
			left: 342px;
		}
	p#code_pay {
		display: block;
		margin: -2px 0 0 0;
	}
	p#pay_text {
		margin: 20px 0 0 0;
		font-size: .8em;
	}
	#paymentForm p#code_not_recieved {
		position: relative;
		width: 333px;
		font-size: .8em;
		text-align: left;
		border: none;
	}
		input#generate_button {
			position: absolute;
			top: 7px;
			left: 342px;
			padding: 10px 12px 10px 12px;
			color: #fff;
			background-color: rgb(255, 175, 75);
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border: 1px solid rgb(255, 175, 75);
		}
			input#generate_button:hover {
				cursor: pointer;
				background: rgb(255, 255, 255);
				color: rgb(102, 45, 145);
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border: 1px solid rgb(225, 225, 225);
			}
	#paymentForm p#code_generated {
		display: none;
	}
		#paymentForm p#code_generated input  {
			border: 1px solid rgb(200, 200, 200);
		}
	#paymentForm input.button:hover {
		cursor: pointer;
		background: rgb(255, 255, 255);
		color: rgb(102, 45, 145);
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid rgb(225, 225, 225);
	}
#payment_design {
	position: absolute;
	left: 575px;
	top: 0px;
	border: none;
}
	#payment_design aside {
		width: 470px;
		color: rgb(98, 98, 98);
		font-size: 1.1em;
		position: relative;
		top: -75px;
		left: 25px;
		text-align: center;
		border: none;
	}
		#payment_design aside img, #payment_design aside p {
			display: inline-block;
		}
		#payment_design aside p {
			padding: 1.8px 0 25px 27px;
		}
		#payment_design aside img {
			position: absolute;
		}
		#payment_design img:last-child {
			margin: 0 0 0 75px;
		}

/*####### Icons and Flat Design Animation Style #######*/
/* Mobile Phone Icon Style */
@keyframes shake {
	2% {
		transform: translate(0px, 0px) rotate(50deg);
	}
	21% {
		transform: translate(0px, 0px) rotate(50deg);
	}
	6% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	8% {
		transform: translate(-3px, -2px) rotate(-60deg);
	}
	10% {
		transform: translate(0px, 1px) rotate(1deg);
	}
	12% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	14% {
		transform: translate(0px, -0px) rotate(0deg);
	}
	16% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	18% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	20% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	22% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	24% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	26% {
		transform: translate(0px, 0px) rotate(-11deg);
	}
	28% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	30% {
		transform: translate(-3px, -1px) rotate(-6deg);
	}
	32% {
		transform: translate(11px, 5px) rotate(14deg);
	}
	34% {
		transform: translate(-11px, -7px) rotate(-2deg);
	}
	36% {
		transform: translate(3px, 6px) rotate(-14deg);
	}38% {
		transform: translate(10px, 11px) rotate(-5deg);
	}
	0%, 40%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}
.shake { 
	animation-name: shake;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

/* Illustrated Flat Design Style */
div#illustration_fig {
	display: block;
	position: absolute;
	top: 135px;
	left: 545px;
	border: none;
	width: 420px;
}
#illustration_fig img.arrow_icon_pay {
	position: absolute;
	top: 277px;
	left: 177px;
}
#illustration_fig img.start_shopping_arrow_icon {
	position: absolute;
	top: 7px;
	left: 163px;
}
.shake-horizontal {
	animation-play-state: running;
}
@keyframes shake-horizontal {
	2% {
		transform: translate(-4px, 0) rotate(0);
	}
	4% {
		transform: translate(7px, 0) rotate(0);
	}
	6% {
		transform: translate(-3px, 0) rotate(0);
	}
	8% {
		transform: translate(-7px, 0) rotate(0);
	}
	10% {
		transform: translate(3px, 0) rotate(0);
	}
	12% {
		transform: translate(-9px, 0) rotate(0);
	}
	14% {
		transform: translate(-1px, 0) rotate(0);
	}
	16% {
		transform: translate(7px, 0) rotate(0);
	}
	18% {
		transform: translate(-3px, 0) rotate(0);
	}
	20% {
		transform: translate(10px, 0) rotate(0);
	}
	22% {
		transform: translate(8px, 0) rotate(0);
	}
	24% {
		transform: translate(7px, 0) rotate(0);
	}
	26% {
		transform: translate(4px, 0) rotate(0);
	}
	28% {
		transform: translate(7px, 0) rotate(0);
	}
	30% {
		transform: translate(9px, 0) rotate(0);
	}
	32% {
		transform: translate(4px, 0) rotate(0);
	}
	34% {
		transform: translate(2px, 0) rotate(0);
	}
	36% {
		transform: translate(-2px, 0) rotate(0);
	}
	38% {
		transform: translate(-2px, 0) rotate(0);
	}
	40% {
		transform: translate(0px, 0) rotate(0);
	}
	42% {
		transform: translate(-3px, 0) rotate(0);
	}
	44% {
		transform: translate(1px, 0) rotate(0);
	}
	46% {
		transform: translate(-4px, 0) rotate(0);
	}
	48% {
		transform: translate(-7px, 0) rotate(0);
	}
	50% {
		transform: translate(4px, 0) rotate(0);
	}
	52% {
		transform: translate(-5px, 0) rotate(0);
	}
	54% {
		transform: translate(-2px, 0) rotate(0);
	}
	56% {
		transform: translate(-6px, 0) rotate(0);
	}58% {
		transform: translate(7px, 0) rotate(0);
	}
	60% {
		transform: translate(2px, 0) rotate(0);
	}
	62% {
		transform: translate(10px, 0) rotate(0);
	}
	64% {
		transform: translate(-7px, 0) rotate(0);
	}   
	66% {
		transform: translate(-6px, 0) rotate(0);
	}
	68% {
		transform: translate(2px, 0) rotate(0); 
	}
	70% {
		transform: translate(2px, 0) rotate(0);
	}
	72% {
		transform: translate(5px, 0) rotate(0);
	}
	74% {
		transform: translate(-8px, 0) rotate(0);
	}
	76% {
		transform: translate(2px, 0) rotate(0);
	}
	78% {
		transform: translate(-1px, 0) rotate(0);
	}
	80% {
		transform: translate(-8px, 0) rotate(0);
	}
	82% {
		transform: translate(3px, 0) rotate(0);
	}
	84% {
		transform: translate(-8px, 0) rotate(0);
	}
	86% {
		transform: translate(6px, 0) rotate(0);
	}
	88% {
		transform: translate(5px, 0) rotate(0);
	}
	90% {
		transform: translate(5px, 0) rotate(0);
	}
	92% {
		transform: translate(-2px, 0) rotate(0);
	}
	94% {
		transform: translate(4px, 0) rotate(0);
	}
	96% {
		transform: translate(-2px, 0) rotate(0);
	}
	98% {
		transform: translate(-4px, 0) rotate(0);
	}
	100% {
		transform: translate(0, 0) rotate(0);
	}
}
.shake-horizontal {
	animation-name: shake-horizontal;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

/*####### General Content Style #######*/
#wrap_content_heading header {
	padding: 60px 0 0 0;
	text-align: center;
	color: rgb(98, 98, 98);
	font-family: inherit;
}
#wrap_content_heading header p {
	font-size: 1.2em;
	font-weight: normal;
	padding: 5px 0 0 0;
}

/* Contact Overlay */
#overlay_contact {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 4;
}
	div.menu_bar {
		width: 100%;
		height: 76px;
		padding: 0;
		margin: 0 0 75px 0;
		background: rgb(102, 45, 145)
	}
	div#contact_form {
		position: relative;
		width: 300px;
		height: 410px;
		margin: 0 auto;
		padding: 45px 0 0 0;
		text-align: center;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border: px;
	}
		div#contact_msg {
			margin: 0 0 15px 0;
		}
			div#contact_form {
				padding: 25px 0 0 0;
			}
			div#contact_form  p {
				color: rgb(100, 100, 100);
			}
			div#contact_form  p, div#contact_form img{
				display: inline-block;
				margin: 0 10px -4px 0;
			}
		div#contact_form input {
			width: 230px;
			height: 25px;
			font-family: arial, FontAwesome;
			padding: 3px 10px 3px 10px;
			border: 1px solid  rgb(102, 45, 145);
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border: 4px;
		}
		div#contact_form textarea {
			width: 230px;
			height: 125px;
			font-family: arial, FontAwesome;
			padding: 3px 10px 3px 10px;
			margin: 0;
			border: 1px solid  rgb(102, 45, 145);
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border: 4px;
		}
		div#contact_form input.submit, div#contact_form input.cancel {
			float: right;
			width: 100px;
			height: 30px;
			display: inline-block;
			background:  rgb(255, 175, 75);
			color: #fff;
			margin: 0;
			padding: 1px;
			border: 1px solid rgb(255, 175, 75);
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border: 4px;
			margin: 15px 15px 20px 0;
		}
		div#contact_form input.cancel {
			margin: 15px 25px 20px 0;;
		}
		div#contact_form input.submit:hover, div#contact_form input.cancel:hover {
			cursor: pointer;
			background: rgb(200, 200, 200);
			border: 1px solid rgb(200, 200, 200)
			
		}

/*##### Online Email Message Style #####*/
/* Soon to be turned into an online instant message */
div#weAreOnline {
	border: none;
}
	/* To display the message */
	#weAreOnline p#helloMsg {
		display: none;
		position: fixed;
		top: 598px;
		left: 838px;
		width: 315px;
		padding: 5px 7px 5px 7px;
		border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		font-size: .8em;
		text-align: center;
		background: rgb(102, 45, 145);
		border: none;
		z-index: 1;
	}
	#weAreOnline canvas#weAreOnlineBox {
		display: block;
		position: fixed;
		top: 585px;
		left: 1167px;
		border: none;
		z-index: 3;
	}
		#weAreOnline canvas#weAreOnlineBox:hover {
			cursor: pointer;
		}

/* Notification Popup Styles */
div#notification_popup {
	display: none; /* set the display to "block" to see the popup */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 4;
}
	#notification_popup div.bar {
		margin: 0 0 200px 0;
	}
	#notification_popup div#notif_msg {
		position: relative;
		width: 400px;
		margin: 0 auto;
		padding: 65px 25px 75px 25px;
		color: rgb(75, 75, 75);
		text-align: center;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
	}
		#notif_msg #goBack {
			position: absolute;
			top: -15px;
			left: 423px;
		}

/* Footer Style */
#wrap_footer footer p {
	margin: 0 auto;
	width: 900px;
	color: rgb(112, 112, 112);
	font-size: .6em;
	font-family: "Arial";
	padding: 5px 0 25px 0;
	border: none;
}
#wrap_footer footer p a{
	color: inherit;
}
footer  {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 1150px;
	border: none;
}
